@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<button style="position:center"> @Html.ActionLink("Create Application", "CreateApplication", "Home",null, new { @class = "navbar-brand" })</button>

<br />
<br />

<button style="position:center"> @Html.ActionLink("Search Application", "SearchApplication", "Home",null, new { @class = "navbar-brand" })</button>